
body{
    margin: 0;
    padding: 0;
    text-align: center;

}
#logoimg{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
nav ul li{
    display: inline-block;
    margin: 0px 60px;
}

ul{
    background-color: bisque;
    height: 50px;
    padding-top: 22px;
    font-size: 22px;
}
p{
    margin: 50px 100px;
    font-size: 22px;
}

.sticky{
    position: fixed;
    top: -3%;
    margin-top: 0px;
    width: 100%;


}